@model List<IdentityServer.Models.MenuViewModel>

<div class="modal-dialog">
    <div class="modal-content">
        <form asp-action="EditRolePermission">
            <div class="modal-header">
                <h2>Permissão</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>

            </div>
            <div class="modal-body">
                <div class="treeview-1 w-20">
                    <input name="id" type="hidden" value="@TempData["id"]" />

                    <div class="tree_main">
                        <ul id="bs_main" class="main_ul">
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                int index = i;
                                if (Model[i].isParent == false && Model[i].GroupMenu == null)
                                {
                                    <li id="bs_1">
                                        <span>&nbsp;</span>
                                        <input type="checkbox" asp-for="@Model[index].Permitted" id="c_bs_1" />
                                        <input type="hidden" asp-for="@Model[index].Id" />
                                        <input type="hidden" asp-for="@Model[index].Name" />
                                        <span>@Model[i].Name</span>
                                    </li>
                                }
                                else
                                {
                                    if (Model[i].isParent == true && Model[i].GroupMenu == null)
                                    {
                                        <li id="bs_1">
                                            <span class="plus">&nbsp;</span>
                                            <input type="checkbox" asp-for="@Model[index].Permitted" id="c_bs_1" />
                                            <input type="hidden" asp-for="@Model[index].Id" />
                                            <input type="hidden" asp-for="@Model[index].Name" />
                                            <span>@Model[i].Name</span>
                                            <ul id="bs_l_1" class="sub_ul" style="display: none">
                                        @for (int j = 0; j < Model.Count; j++)
                                    {
                                                    index = j;
                                                    if (Model[j].GroupMenu == Model[i].Id)
                                    {
                                                        if (Model[j].isParent == true)
                                    {
                                    <li id="bf_1">
                                                    <span class="plus">&nbsp;</span>
                                                                <input type="checkbox" asp-for="@Model[index].Permitted" id="c_bf_1" />
                                                                <input type="hidden" asp-for="@Model[index].Id" />
                                                                <input type="hidden" asp-for="@Model[index].Name" />
                                                                <span>@Model[j].Name</span>
                                                    <ul id="bf_l_1" style="display: none" class="inner_ul">
                                                    @for (int k = 0; k < Model.Count; k++)
                                            {
                                                     index = k;
                                                                        if (Model[k].GroupMenu == Model[j].Id)
                                            {
                                            <li id="io_1">
                                                                                <input type="checkbox" asp-for="@Model[index].Permitted" id="c_io_1" />
                                                                                <input type="hidden" asp-for="@Model[index].Id" />
                                                                                <input type="hidden" asp-for="@Model[index].Name" />
                                                                                <span>@Model[k].Name</span>
                                                        </li>
                                                        }
                                                        }
                                                    </ul>
                                                </li>
                                                }
                                                else
                                                {
                                                <li id="io_1">
                                                 <input type="checkbox" asp-for="@Model[index].Permitted" id="c_io_1" />
                                                                <input type="hidden" asp-for="@Model[index].Id" />
                                                                <input type="hidden" asp-for="@Model[index].Name" />
                                                 <span>@Model[j].Name</span>
                                                </li>
                                                }
                                                }
                                                }
                                            </ul>
                                        </li>
                                    }
                                }
                            }
                        </ul>
                        


                    </div>


                </div>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-primary">Cancelar</button>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>

</div>